Checks: >
  clang-analyzer-core.*,
  clang-analyzer-cplusplus.NewDelete*,
  bugprone-*,
  cppcoreguidelines-owning-memory,
  cppcoreguidelines-special-member-functions,
  performance-*,
  -bugprone-easily-swappable-parameters,
  -performance-avoid-endl
WarningsAsErrors: >
  cppcoreguidelines-owning-memory,
  cppcoreguidelines-special-member-functions,
  clang-analyzer-cplusplus.NewDelete
HeaderFilterRegex: '.*'
FormatStyle: file
